/* Container principal */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Cabeçalho */
header {
  background-color: #3f51b5;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Área principal */
main {
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
